@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}

body {
    background: url("https://images.unsplash.com/photo-1611460678499-4626d407cd05?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
    background-size:cover;
    background-attachment:fixed;
  }
  
  header {
    color: white;
    text-align:center;
  }

  #hello {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
  }
  
  #circular-image {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #circular-image img {
    width: auto;
    height: 100%;
    margin-left: -145px;
    position: absolute;
    
    
  }
  
  section{
    background: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    text-align:center;
  }

  #dataform{
    font-size:15px;
    font-weight: normal;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #dataform p {
    text-align: left;
  }

  #result {
    color: black;
  }
  
  footer{
    color: white;
    text-align: center;
    font-style: italic;
  }


  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0px;
    border-radius: 60px;
    vertical-align: middle;
    text-decoration: none;
    background: #005f63;
    padding: 10px;
    font-size: inherit;
    font-family: inherit;
    font-weight: normal;

  }

  button:hover {
    background: #003539;
  }

 
